kind: PersistentVolumeClaim   
apiVersion: v1
metadata:
  name: mongodb-pvc
  namespace: chat-app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 3Gi
  storageClassName: mongodb-storage-class
  volumeName: mongodb-pv