apiVersion: v1
kind: PersistentVolume
metadata: 
  name: mongodb-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /data/chatapp-mongo # <-- CHANGE THE PATH HERE
  storageClassName: mongo-storage