apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-pvc
  namespace: chat-app
spec:
  storageClassName: chat-app-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
